@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="jumbotron">
        <h1>Welcome to SportsBet</h1>
    </div>
</body>
</html>
