@model IEnumerable<SportsBet.Models.EventViewModel>
<html>
<head>
<script type="text/javascript" src="table_script.js"></script>
</head>
<body>
    <table>
        <tr>
            <th>EventName</th>
            <th>OddsForFirstTeam</th>
            <th>OddsForDraw</th>
            <th>OddsForSecondTeam</th>
            <th>EventStartDate</th>
        </tr>
    </table>

</body>
</html>