body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: antiquewhite
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table, tr, th, td {
    border: 1px solid black;
    /*margin: 10px;*/
}


.previewRow:nth-child(odd) {
    background-color: aliceblue;
}

.previewRow:nth-child(even) {
    background-color: honeydew;
}

.passedEvent {
    background-color: lightsalmon;
}

th, td {
    /*margin: 5px;*/
}

td{
    align-content: center;
}

.editButton {
    float:right;
}
